/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:host {
  display: block;
  max-width: 300px;
}

/* Disabled */
:host([disabled]) {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

/* Input */
.input__label {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: bold;
  display: block;
  padding: 0px 8px 4px 8px;
  color: hsl(var(--card-foreground));
  cursor: pointer;
}
.input__wrapper {
  position: relative;
  width: 100%;
}
.input__main {
  position: relative;
  display: block;
  /* min-height: var(--input-height); */
  /* max-height: var(--input-height); */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  text-align: center;
  padding: 12px 16px;
  border-radius: var(--radius);
  border-width: var(--border-width);
  border-style: dashed;
  border-color: hsl(var(--input));
  background-color: hsl(var(--background));
  outline: none;
  cursor: pointer;
}
.input__main:focus {
  outline-color: hsl(var(--ring));
  outline-width: var(--border-width);
  outline-style: solid;
}
.input__main.dragover {
  border-color: hsl(var(--primary));
  background-color: hsl(var(--primary) / 0.05);
}
.input__icon {
  color: hsl(var(--primary));
  margin-right: 8px;
}
.input__action {
  display: grid;
  grid-template-columns: 1fr;
}
.input__divider {
  height: 1px;
  background-color: hsl(var(--muted-foreground));
  margin: 10px 0px;
}
.input__text-primary {
  color: hsl(var(--card-foreground));
  font-family: var(--font-family);
}
.input__text-secondary,
.input__action-text {
  font-size: var(--font-helper);
  color: hsl(var(--muted-foreground));
  font-family: var(--font-family);
}
.input__action-link {
  color: hsl(var(--primary));
  cursor: pointer;
}
.input__field {
  flex: 1;
  border: none;
  outline: none;
  height: 24px;
  background-color: transparent;
  color: hsl(var(--card-foreground));
  font-family: var(--font-family);
  font-size: var(--font-size);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.input__field::placeholder {
  color: hsl(var(--muted-foreground));
  font-size: var(--font-size);
  font-family: var(--font-family);
}
.input__tag {
  padding: 2px;
  display: flex;
  align-items: center;
  color: hsl(var(--card-foreground));
  white-space: nowrap;
  overflow: hidden;
}
.input__tag * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.input__placeholder {
  color: hsl(var(--muted-foreground));
  font-size: var(--font-size);
  font-family: var(--font-family);
}
.input__prefix,
.input__suffix {
  display: flex;
  align-items: center;
}
.input:not(.error) .input__suffix .icon,
.input:not(.error) .input__prefix .icon {
  color: hsl(var(--primary));
}
.input__prefix .icon {
  margin-right: 8px;
}
.input__suffix .icon {
  margin-left: 8px;
}
.input__message {
  padding: 4px 16px 0px 16px;
  font-size: var(--font-helper);
  color: hsl(var(--muted-foreground));
}

.file-list {
  margin-top: 0.5rem;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.file-list__item {
  padding: 5px;
  word-wrap: break-word; /* Permite dividir palabras largas */
  width: fit-content;
}
.file-list__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  color: hsl(var(--card-foreground));
}
.file-list__size {
  font-size: var(--font-helper);
  color: hsl(var(--muted-foreground));
}
.file-list__status {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #D9F4E9;
  padding: 3px 8px;
  border-radius: calc(var(--radius) / 2);
}
.file-list__status-icon {
  display: flex;
  margin-right: 5px;
  color: #0F804F;
}
.file-list__status-text {
  font-size: var(--font-helper);
}
.file-list__delete {
  width: 25px;
}
.file-list__delete--btn {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  color: hsl(var(--muted-foreground));
  cursor: pointer;
}

/* Errors */
.input.error .input__message,
.input.error .input__label,
.input.error .icon {
  color: hsl(var(--destructive));
}
.input.error .input__main {
  border-color: hsl(var(--destructive));
}
.input.error .input__main.search {
  border-color: hsl(var(--accent));
}
.input.error .input__main:focus {
  outline-color: hsl(var(--destructive));
}
.input.error .input__suffix,
.input.error .input__prefix {
  color: hsl(var(--destructive));
}
